// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import * as Shared from '../shared';
import { PlaylistTrackObjectsCursorURLPage } from '../shared';
import { APIPromise } from '../../core/api-promise';
import { CursorURLPage, PagePromise } from '../../core/pagination';
import { RequestOptions } from '../../internal/request-options';
import { path } from '../../internal/utils/path';

export class Items extends APIResource {
  /**
   * Either reorder or replace items in a playlist depending on the request's
   * parameters. To reorder items, include `range_start`, `insert_before`,
   * `range_length` and `snapshot_id` in the request's body. To replace items,
   * include `uris` as either a query parameter or in the request's body. Replacing
   * items in a playlist will overwrite its existing items. This operation can be
   * used for replacing or clearing items in a playlist. <br/> **Note**: Replace and
   * reorder are mutually exclusive operations which share the same endpoint, but
   * have different parameters. These operations can't be applied together in a
   * single request.
   *
   * @example
   * ```ts
   * const item = await client.playlists.items.update(
   *   '3cEYpjA9oz9GiPac4AsH4n',
   * );
   * ```
   */
  update(
    playlistID: string,
    params: ItemUpdateParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<ItemUpdateResponse> {
    const { query_uris, ...body } = params ?? {};
    return this._client.put(path`/playlists/${playlistID}/items`, {
      query: { uris: query_uris },
      body,
      ...options,
    });
  }

  /**
   * Get full details of the items of a playlist owned by a Spotify user.
   *
   * **Note**: This endpoint is only accessible for playlists owned by the current
   * user or playlists the user is a collaborator of. A `403 Forbidden` status code
   * will be returned if the user is neither the owner nor a collaborator of the
   * playlist.
   *
   * @example
   * ```ts
   * // Automatically fetches more pages as needed.
   * for await (const playlistTrackObject of client.playlists.items.list(
   *   '3cEYpjA9oz9GiPac4AsH4n',
   * )) {
   *   // ...
   * }
   * ```
   */
  list(
    playlistID: string,
    query: ItemListParams | null | undefined = {},
    options?: RequestOptions,
  ): PagePromise<PlaylistTrackObjectsCursorURLPage, Shared.PlaylistTrackObject> {
    return this._client.getAPIList(
      path`/playlists/${playlistID}/items`,
      CursorURLPage<Shared.PlaylistTrackObject>,
      { query, ...options },
    );
  }

  /**
   * Add one or more items to a user's playlist.
   *
   * @example
   * ```ts
   * const response = await client.playlists.items.add(
   *   '3cEYpjA9oz9GiPac4AsH4n',
   * );
   * ```
   */
  add(
    playlistID: string,
    params: ItemAddParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<ItemAddResponse> {
    const { query_position, query_uris, ...body } = params ?? {};
    return this._client.post(path`/playlists/${playlistID}/items`, {
      query: { position: query_position, uris: query_uris },
      body,
      ...options,
    });
  }

  /**
   * Remove one or more items from a user's playlist.
   *
   * @example
   * ```ts
   * const item = await client.playlists.items.remove(
   *   '3cEYpjA9oz9GiPac4AsH4n',
   *   { items: [{}] },
   * );
   * ```
   */
  remove(
    playlistID: string,
    body: ItemRemoveParams,
    options?: RequestOptions,
  ): APIPromise<ItemRemoveResponse> {
    return this._client.delete(path`/playlists/${playlistID}/items`, { body, ...options });
  }
}

export interface ItemUpdateResponse {
  snapshot_id?: string;
}

export interface ItemAddResponse {
  snapshot_id?: string;
}

export interface ItemRemoveResponse {
  snapshot_id?: string;
}

export interface ItemUpdateParams {
  /**
   * Query param: A comma-separated list of
   * [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) to set, can be
   * track or episode URIs. For example:
   * `uris=spotify:track:4iV5W9uYEdYUVa79Axb7Rh,spotify:track:1301WleyT98MSxVHPZCA6M,spotify:episode:512ojhOuo1ktJprKbVcKyQ`<br/>A
   * maximum of 100 items can be set in one request.
   */
  query_uris?: string;

  /**
   * Body param: The position where the items should be inserted.<br/>To reorder the
   * items to the end of the playlist, simply set _insert_before_ to the position
   * after the last item.<br/>Examples:<br/>To reorder the first item to the last
   * position in a playlist with 10 items, set _range_start_ to 0, and
   * _insert_before_ to 10.<br/>To reorder the last item in a playlist with 10 items
   * to the start of the playlist, set _range_start_ to 9, and _insert_before_ to 0.
   */
  insert_before?: number;

  /**
   * Body param: The playlist's public/private status (if it should be added to the
   * user's profile or not): `true` the playlist will be public, `false` the playlist
   * will be private, `null` the playlist status is not relevant. For more about
   * public/private status, see
   * [Working with Playlists](/documentation/web-api/concepts/playlists)
   */
  published?: boolean;

  /**
   * Body param: The amount of items to be reordered. Defaults to 1 if not
   * set.<br/>The range of items to be reordered begins from the _range_start_
   * position, and includes the _range_length_ subsequent items.<br/>Example:<br/>To
   * move the items at index 9-10 to the start of the playlist, _range_start_ is set
   * to 9, and _range_length_ is set to 2.
   */
  range_length?: number;

  /**
   * Body param: The position of the first item to be reordered.
   */
  range_start?: number;

  /**
   * Body param: The playlist's snapshot ID against which you want to make the
   * changes.
   */
  snapshot_id?: string;

  /**
   * Body param
   */
  body_uris?: Array<string>;

  [k: string]: unknown;
}

export interface ItemListParams {
  /**
   * A comma-separated list of item types that your client supports besides the
   * default `track` type. Valid types are: `track` and `episode`.<br/> _**Note**:
   * This parameter was introduced to allow existing clients to maintain their
   * current behaviour and might be deprecated in the future._<br/> In addition to
   * providing this parameter, make sure that your client properly handles cases of
   * new types in the future by checking against the `type` field of each object.
   */
  additional_types?: string;

  /**
   * Filters for the query: a comma-separated list of the fields to return. If
   * omitted, all fields are returned. For example, to get just the total number of
   * items and the request limit:<br/>`fields=total,limit`<br/>A dot separator can be
   * used to specify non-reoccurring fields, while parentheses can be used to specify
   * reoccurring fields within objects. For example, to get just the added date and
   * user ID of the adder:<br/>`fields=items(added_at,added_by.id)`<br/>Use multiple
   * parentheses to drill down into nested objects, for
   * example:<br/>`fields=items(track(name,href,album(name,href)))`<br/>Fields can be
   * excluded by prefixing them with an exclamation mark, for
   * example:<br/>`fields=items.track.album(!external_urls,images)`
   */
  fields?: string;

  /**
   * The maximum number of items to return. Default: 20. Minimum: 1. Maximum: 50.
   */
  limit?: number;

  /**
   * An
   * [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
   * If a country code is specified, only content that is available in that market
   * will be returned.<br/> If a valid user access token is specified in the request
   * header, the country associated with the user account will take priority over
   * this parameter.<br/> _**Note**: If neither market or user country are provided,
   * the content is considered unavailable for the client._<br/> Users can view the
   * country that is associated with their account in the
   * [account settings](https://www.spotify.com/account/overview/).
   */
  market?: string;

  /**
   * The index of the first item to return. Default: 0 (the first item). Use with
   * limit to get the next set of items.
   */
  offset?: number;
}

export interface ItemAddParams {
  /**
   * Query param: The position to insert the items, a zero-based index. For example,
   * to insert the items in the first position: `position=0`; to insert the items in
   * the third position: `position=2`. If omitted, the items will be appended to the
   * playlist. Items are added in the order they are listed in the query string or
   * request body.
   */
  query_position?: number;

  /**
   * Query param: A comma-separated list of
   * [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) to add, can be
   * track or episode URIs. For
   * example:<br/>`uris=spotify:track:4iV5W9uYEdYUVa79Axb7Rh, spotify:track:1301WleyT98MSxVHPZCA6M, spotify:episode:512ojhOuo1ktJprKbVcKyQ`<br/>A
   * maximum of 100 items can be added in one request. <br/> _**Note**: it is likely
   * that passing a large number of item URIs as a query parameter will exceed the
   * maximum length of the request URI. When adding a large number of items, it is
   * recommended to pass them in the request body, see below._
   */
  query_uris?: string;

  /**
   * Body param: The position to insert the items, a zero-based index. For example,
   * to insert the items in the first position: `position=0` ; to insert the items in
   * the third position: `position=2`. If omitted, the items will be appended to the
   * playlist. Items are added in the order they appear in the uris array. For
   * example:
   * `{"uris": ["spotify:track:4iV5W9uYEdYUVa79Axb7Rh","spotify:track:1301WleyT98MSxVHPZCA6M"], "position": 3}`
   */
  body_position?: number;

  /**
   * Body param: The playlist's public/private status (if it should be added to the
   * user's profile or not): `true` the playlist will be public, `false` the playlist
   * will be private, `null` the playlist status is not relevant. For more about
   * public/private status, see
   * [Working with Playlists](/documentation/web-api/concepts/playlists)
   */
  published?: boolean;

  /**
   * Body param: A JSON array of the
   * [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) to add. For
   * example:
   * `{"uris": ["spotify:track:4iV5W9uYEdYUVa79Axb7Rh","spotify:track:1301WleyT98MSxVHPZCA6M", "spotify:episode:512ojhOuo1ktJprKbVcKyQ"]}`<br/>A
   * maximum of 100 items can be added in one request. _**Note**: if the `uris`
   * parameter is present in the query string, any URIs listed here in the body will
   * be ignored._
   */
  body_uris?: Array<string>;

  [k: string]: unknown;
}

export interface ItemRemoveParams {
  /**
   * An array of objects containing
   * [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) of the tracks
   * or episodes to remove. For example:
   * `{ "items": [{ "uri": "spotify:track:4iV5W9uYEdYUVa79Axb7Rh" },{ "uri": "spotify:track:1301WleyT98MSxVHPZCA6M" }] }`.
   * A maximum of 100 objects can be sent at once.
   */
  items: Array<ItemRemoveParams.Item>;

  /**
   * The playlist's public/private status (if it should be added to the user's
   * profile or not): `true` the playlist will be public, `false` the playlist will
   * be private, `null` the playlist status is not relevant. For more about
   * public/private status, see
   * [Working with Playlists](/documentation/web-api/concepts/playlists)
   */
  published?: boolean;

  /**
   * The playlist's snapshot ID against which you want to make the changes. The API
   * will validate that the specified items exist and in the specified positions and
   * make the changes, even if more recent changes have been made to the playlist.
   */
  snapshot_id?: string;
}

export namespace ItemRemoveParams {
  export interface Item {
    /**
     * Spotify URI
     */
    uri?: string;
  }
}

export declare namespace Items {
  export {
    type ItemUpdateResponse as ItemUpdateResponse,
    type ItemAddResponse as ItemAddResponse,
    type ItemRemoveResponse as ItemRemoveResponse,
    type ItemUpdateParams as ItemUpdateParams,
    type ItemListParams as ItemListParams,
    type ItemAddParams as ItemAddParams,
    type ItemRemoveParams as ItemRemoveParams,
  };
}

export { type PlaylistTrackObjectsCursorURLPage };
