# This workflow is triggered when a GitHub release is created.
# It can also be run manually to re-publish to JSR in case it failed for some reason.
# You can run this workflow by navigating to https://www.github.com/stainless-commons/spotify-ts/actions/workflows/publish-jsr.yml
name: Publish JSR
on:
  workflow_dispatch:

  release:
    types: [published]

jobs:
  publish:
    name: publish
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@v6

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: |
          yarn install

      - name: Publish to JSR
        run: |
          bash ./bin/publish-jsr

      - name: Upload MCP Server DXT GitHub release asset
        run: |
          gh release upload ${{ github.event.release.tag_name }} \
            packages/mcp-server/spotify_ts_api.mcpb
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
